{% extends "base.html" %}
{% block content %}
<h1>Liste des produits</h1>
<table class="table table-striped">
<tr>
  <th>Nom du produit</th>
  <th>Référence</th>
  <th>Prix (catalogue)</th>
  <th>Prix remisé</th>
  <th>Nombre de réaction par échantion</th>
  <th>Commentaire</th>
  <th>Detail</th>
  <th>Editer</th>
</tr>
  {% for product in object_list %}
<tr>
    <td>{{product.name}} </td>
    <td>{{ product.ref }}</td>
    <td>{{ product.real_cost }}</td>
    <td>{{ product.reduce_cost }}</td>
    <td>{{ product.nb_react_by_samples }}</td>
    <td>{{ product.comment }}</td>
    <td><a href="{% url 'product_detail' product.id %}"><span class="glyphicon glyphicon-search"></span></a> </td>
    <td><a href="{% url 'product_edit' product.id %}"><span class="glyphicon glyphicon-pencil"></span></a> </td>
  {% empty %}
    <p class="empty"> Pas de produits pour le moment </p>
</tr>
  {% endfor %}
</table>

{% endblock %}
