{% extends "base.html" %}
{% block content %}
<h1>{{ run.code }} </h1>
<h2>Projets du Run</h2>
<ul>
{% for project in run.projects %}
	<li>{{ project.code }}</li>
{% empty %}
	<p>Pas de projet dans ce run</p>
{% endfor %}
</ul>
<h2>Échantillons du Run</h2>
<ul>
{% for sample in run.samples %}
	<li>{{ sample.code }}</li>
{% empty %}
	<p>Pas d'échantillon dans ce run</p>
{% endfor %}
</ul>
<h2>PRIX</h2>
<p>TODO Impletementer le cout du run</p>
<p><a href="{% url 'run_edit' run.id %}"><span class="glyphicon glyphicon-pencil"></span></a></p>
<p><a href="{% url 'run_list' %}">Retour Liste des Runs</a></p>
{% endblock %}
